.done-true {
  text-decoration: line-through;
  color: grey;
}

html{
    position: relative;
    height: 100%;
    background-color: #03C4C2;
}

.login-container{
    position: relative;
    width: 350px;
    margin: 20px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-color: transparent !important;
}


.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="user"]{
    border-radius: 0 5px 0 0;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 0;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.form-box span[type="usericon"]{
	 border-radius: 0 0 0 0;
}

.form-box span[type="lockicon"]{
	 border-radius: 0 0 0 0;
}

input[type="checkbox"]{
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  text-align: left;

}






